<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Site</th>
    <th scope="col">Rank</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr role="tablist">
    <th scope="">
      <a href="<%= @result.site_data.url %>"><%= @result.site_data.url %></a>
    </th>
    <td class=""><%= @result.site_data.rank %></td>
    <td class="">2</td>
    <td class="text-right" style="width: 180px">
      <a class="btn btn-primary" href="#ex1" rel="modal:open">
        Details
      </a>
    </td>
  </tr>
  </tbody>
</table>

<div class="modal" id="ex1" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <table class="table table-striped">
          <tbody>
            <tr role="tablist">
              <th scope="">
                Type
              </th>
              <td class="">
                <% @result.result['entities'].each do |entity| %>
                  <%= entity['type'] %>
                <% end %>
              </td>
            </tr>
            <tr role="tablist">
              <th scope="">
                Language
              </th>
              <td class="">
                <%= @result.result['language'] %>
              </td>
            </tr>
            <tr>
              <th>Emotion:</th>
              <td></td>
            </tr>
            <tr>
              <th>Sadness</th>
              <td>
                <%= @result.result['entities'][0]['emotion']['sadness']%>
              </td>
            </tr>
            <tr>
              <th>Joy</th>
              <td>
                <%= @result.result['entities'][0]['emotion']['joy']%>
              </td>
            </tr>
            <tr>
              <th>Fear</th>
              <td>
                <%= @result.result['entities'][0]['emotion']['fear']%>
              </td>
            </tr>
            <tr>
              <th>Disgust</th>
              <td>
                <%= @result.result['entities'][0]['emotion']['disgust']%>
              </td>
            </tr>
            <tr>
              <th>Anger</th>
              <td>
                <%= @result.result['entities'][0]['emotion']['anger']%>
              </td>
            </tr>
            <tr>
              <th>Anger</th>
              <td>
                <%= @result.result['entities'][0]['sentiment']['label']%>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
