
<% @result.each do |site_data| %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Site</th>
      <th scope="col">Rank</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr role="tablist row">
      <th style="width: 40%;">
        <a href="<%= site_data.url %>"><%= site_data.url %></a>
      </th>
      <td style="width: 25%;"><%= site_data.rank %></td>
      <td style="width: 25%;"></td>
      <td class="text-right" style="width: 180px">
        <button class="btn btn-primary open_mod" data-number="ex<%= site_data.rank %>">
          Details
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="modal-wrapper">
  <% site_data.analizes.each do |analize| %>
    <div class="modal mb-3" id="ex<%= site_data.rank %>">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <table class="table table-striped">
              <tbody>
              <tr role="tablist">
                <th scope="">
                  Type:
                </th>
                <td class="">
                  <% analize.result['entities'].each do |entity| %>
                    <%= entity['type'] %>
                  <% end %>
                </td>
              </tr>
              <tr role="tablist">
                <th scope="">
                  Language:
                </th>
                <td class="">
                  <%= analize.result['language'] %>
                </td>
              </tr>
              <tr>
                <th>Emotion:</th>
                <td><%= analize.result['entities'][0]&.dig('sentiment', 'label') || 0%></td>
              </tr>
              <tr>
                <th>Sadness:</th>
                <td>
                  <%= analize.result['entities'][0]&.dig('emotion', 'sadness') || 0 %>
                </td>
              </tr>
              <tr class="joy">
                <th>Joy:</th>
                <td>
                  <%= analize.result['entities'][0]&.dig('emotion','joy') || 0 %>
                  <div class="chart"></div>
                </td>
              </tr>
              <tr>
                <th>Fear:</th>
                <td>
                  <%= analize.result['entities'][0]&.dig('emotion','fear') || 0 %>
                </td>
              </tr>
              <tr>
                <th>Disgust:</th>
                <td>
                  <%= analize.result['entities'][0]&.dig('emotion', 'disgust') || 0 %>
                </td>
              </tr>
              <tr>
                <th>Anger:</th>
                <td>
                  <%= analize.result['entities'][0]&.dig('emotion', 'anger') || 0%>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
<% end %>

