<% if flash[:error] %>
  <p><%= flash[:error] %></p>
<% end %>

<div class="mb-2 mt-3">
  <%= form_tag('/index/search', method: 'post',class: 'form-inline') do %>
    <div class="form-group mb-2 mx-sm-3">
      <label for="search_input" class="sr-only">Link -></label>
      <%= text_field_tag :request, '',class: 'form-control', id: 'search_input' %>
    </div>
    <%= submit_tag 'Search', class: 'btn btn-primary mb-2' %>
  <% end %>
</div>

<% if @result %>
  <%= render 'table' %>
<% end %>
